FPS=24
# GOP SIZE was: 100
GOP_SIZE=96
# PRESET_P was: veryslow , see https://write.corbpie.com/ffmpeg-preset-comparison-x264-2019-encode-speed-and-file-size/
PRESET_P=slow
AUDIO_BITRATE=256k
AUDIO_CHANNELS=1
AUDIO_SAMPLERATE=48000
RESOLUTION="hd"
LOGLEVEL=info
# 0 = default = optimal = all, 1 (single-threaded), 2 (2 threads for e.g. an Intel Core 2 Duo);
ffmpeg_threads=0

V_SIZE_NAME_0=144p
V_SIZE_ALIAS_0=144p
V_SIZE_0=256x144
V_SIZE_FILTER_0="w=256:h=144"
V_RATE_0=145k
V_RATE_MAX_0=155k
V_BUF_SIZE_0=220k

V_SIZE_NAME_1=240p
V_SIZE_ALIAS_1=240p
V_SIZE_1=426x240
V_SIZE_FILTER_1="w=426:h=240"
V_RATE_1=145k
V_RATE_MAX_1=155k
V_BUF_SIZE_1=220k

V_SIZE_NAME_2=360p
V_SIZE_ALIAS_2=360p
V_SIZE_2=640x360
V_SIZE_FILTER_2="w=640:h=360"
V_RATE_2=365k
V_RATE_MAX_2=390k
V_BUF_SIZE_2=640k

V_SIZE_NAME_3=480p
V_SIZE_ALIAS_3=SD
V_SIZE_3=854x480
V_SIZE_FILTER_3="w=854:h=480"
V_RATE_3=730k
V_RATE_MAX_3=781k
V_BUF_SIZE_3=1278k

V_SIZE_NAME_4=720p
V_SIZE_ALIAS_4=HD
V_SIZE_4=1280x720
V_SIZE_FILTER_4="w=1280:h=720"
V_RATE_4=4.5M
V_RATE_MAX_4=4.8M
V_BUF_SIZE_4=8M

V_SIZE_NAME_5=1080p
V_SIZE_ALIAS_5=FHD
V_SIZE_5=1920x1080
V_SIZE_FILTER_5="w=1920:h=1080"
V_RATE_5=7.8M
V_RATE_MAX_5=8.3M
V_BUF_SIZE_5=14M

V_SIZE_NAME_6=1440p
V_SIZE_ALIAS_6=2K
V_SIZE_6=2560x1440
V_SIZE_FILTER_6="w=2560:h=1440"
V_RATE_6=9M
V_RATE_MAX_6=9.63M
V_BUF_SIZE_6=16.5M

V_SIZE_NAME_7=2160p
V_SIZE_ALIAS_7=4K
V_SIZE_7=3840x2160
V_SIZE_FILTER_7="w=3840:h=2160"
V_RATE_7=12M
V_RATE_MAX_7=12.84M
V_BUF_SIZE_7=22M

V_SIZE_NAME_8=4320p
V_SIZE_ALIAS_8=8K
V_SIZE_8=7680x4320
V_SIZE_FILTER_8="w=7680:h=4320"
V_RATE_8=24M
V_RATE_MAX_8=25.68M
V_BUF_SIZE_8=44M

V_SIZE_NAME_9=6480p
V_SIZE_ALIAS_9=12K
V_SIZE_9=11520x6480
V_SIZE_FILTER_9="w=11520:h=4320"
V_RATE_9=36M
V_RATE_MAX_9=38.52M
V_BUF_SIZE_9=66M
